@import "../../variables";

.lessonBox {
  padding: 20px;
  margin: 0 0 10px 0;
  box-shadow: map-deep-get($theme-colors, "box-shadow", "shadow");
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  @media all and (max-width: 47em) {
    padding: 15px 0;
  }
  .dateOfLesson {
    @extend %h3;
    color: map-get($theme-colors, "main-blue");
    font-weight: 600;
    margin: 0;
    @media all and (max-width: 47em) {
      margin: 0 15px;
    }
  }
  .dateOfLesson.canceledDate {
    color: map-deep-get($theme-colors, "text", "grey");
  }
  .lessonContent {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    @media all and (max-width: 47em) {
      margin: 10px 10px 0 10px;
    }
    @media all and (max-width: 40em) {
      flex-direction: column;
      position: relative;
    }
    .userInformationBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      @media all and (max-width: 40em) {
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }
      .userAvatar {
        width: 80px;
        height: 80px;
        margin: 0 10px 0 0;
        &:hover {
          cursor: pointer;
        }
      }
      .userNameButtonBox {
        display: flex;
        flex-direction: column;
        max-width: 326px;
        @media all and (max-width: 85em) {
          max-width: 320px;
        }
        @media all and (max-width: 70em) {
          max-width: 326px;
        }
        @media all and (max-width: 43em) {
          max-width: 310px;
        }
        @media all and (max-width: 40em) {
          max-width: 100%;
          width: 100%;
        }
        .nameThemeBox {
          @media all and (max-width: 40em) {
            position: absolute;
            top: 0;
            left: 90px;
            right: 0;
            height: 80px;
          }
          .nameUser {
            margin: 0;
            @extend %h3;
            &:hover {
              cursor: pointer;
              color: map-get($theme-colors, "main-blue");
            }
          }
          .themeLesson {
            @extend %text-small;
            margin: 5px 0 0 0;
          }
          .nameUser.canceledName,
          .themeLesson.canceledTheme {
            color: map-deep-get($theme-colors, "text", "grey");
          }
        }
        button {
          @extend %h4;
          @extend %button-1;
          text-transform: none;
          padding: 0;
          border-radius: 30px;
          margin: 5px 0 0 0;
          max-width: 182px;
          height: 40px;
          @media all and (max-width: 40em) {
            max-width: 100%;
            margin: 10px 0 0 0;
          }
        }
        .reasonCancelBox {
          @media all and (max-width: 40em) {
            margin: 10px 0 0 0;
          }
          .canceledWhom {
            color: map-get($theme-colors, "red");
            @extend %h5;
            margin: 0 0 5px 0;
            @media all and (max-width: 40em) {
              font-size: 16px;
              line-height: 20px;
            }
          }
          .reasonText {
            margin: 0;
            @extend %text-small;
            @media all and (max-width: 40em) {
              font-size: 16px;
              line-height: 22px;
            }
          }
        }
      }
    }
    .controlsLessonBox {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media all and (max-width: 40em) {
        width: 100%;
      }
      button {
        text-transform: none;
        padding: 0;
        @extend %h5;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        text-align: left;
        @media all and (max-width: 40em) {
          justify-content: center;
        }
      }
      .writeButton {
        margin: 0 0 10px 0;
        color: map-get($theme-colors, "main-blue");
        @media all and (max-width: 40em) {
          margin: 10px 0 0 0;
          background-color: map-get($theme-colors, "white");
          color: map-get($theme-colors, "main-blue");
          border: solid 2px map-get($theme-colors, "main-blue");
          border-radius: 30px;
          width: 100%;
          padding: 10px 20px;
          &:hover {
            border: solid 2px map-deep-get($theme-colors, "border", "hover");
            color: map-deep-get($theme-colors, "border", "hover");
          }
          &:active {
            border: solid 2px map-deep-get($theme-colors, "border", "pressed");
            color: map-deep-get($theme-colors, "border", "pressed");
          }
        }
      }
      .cancelButton {
        color: map-get($theme-colors, "red");
        @media all and (max-width: 40em) {
          margin: 10px 0 0 0;
          width: 100%;
        }
      }
    }
  }
}
