@import "../../variables";

.lessonBox {
  padding: 20px;
  margin: 0 0 10px 0;
  box-shadow: map-deep-get($theme-colors, "box-shadow", "shadow");
  width: 100%;
  display: flex;
  flex-direction: column;
  @media all and (max-width: 47em) {
    padding: 20px 0;
  }
  .dateOfLesson {
    @extend %text-main;
    color: map-deep-get($theme-colors, "text", "dark-gray");
    margin: 0;
    @media all and (max-width: 47em) {
      margin: 0 20px;
    }
  }
  .lessonContent {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    @media all and (max-width: 47em) {
      margin: 10px 20px 0 20px;
    }
    @media all and (max-width: 40em) {
      flex-direction: column;
      position: relative;
    }
    .userInformationBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      @media all and (max-width: 40em) {
        flex-wrap: wrap;
        position: relative;
        width: 100%;
      }
      .userAvatar {
        width: 80px;
        height: 80px;
        margin: 0 10px 0 0;
        &:hover {
          cursor: pointer;
        }
      }
      .userNameButtonBox {
        display: flex;
        flex-direction: column;
        @media all and (max-width: 40em) {
          width: 100%;
        }
        p {
          margin: 0 0 10px 0;
          @extend %h3;
          &:hover {
            cursor: pointer;
            color: map-get($theme-colors, "main-blue");
          }
          @media all and (max-width: 40em) {
            position: absolute;
            top: 0;
            left: 90px;
          }
        }
        button {
          @extend %text-main;
          @extend %button-1;
          text-transform: none;
          padding: 10px 20px;
          border-radius: 100px;
          @media all and (max-width: 40em) {
            width: 100%;
            margin: 10px 0 0 0;
          }
        }
      }
    }
    .controlsLessonBox {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media all and (max-width: 40em) {
        position: absolute;
        top: 30px;
        left: 90px;
      }
      button {
        text-transform: none;
        padding: 0;
        @extend %text-main;
      }
      .writeButton {
        margin: 0 0 10px 0;
        color: map-get($theme-colors, "main-blue");
      }
      .cancelButton {
        color: map-get($theme-colors, "red");
      }
    }
  }
}
