@import "../../variables";

.profileEmailNotificationBox {
  padding: 10px;
  background-color: map-get($theme-colors, "white-blue");
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 380px;
  .titleButtonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      margin: 0;
      @extend %text-small;
    }
    button {
      color: map-get($theme-colors, "gray");
      height: 24px;
      width: 24px;
      min-width: 24px;
    }
  }
  .resentButton {
    text-transform: none;
    padding: 0 24px 0 0;
    @extend %text-small;
    justify-content: flex-end;
    color: map-get($theme-colors, "main-blue");
  }
}
