@import "../../variables";

.teacherScheduleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 720px;
  width: 100%;
  position: relative;
  @media all and (max-width: 48em) {
    max-width: 100%;
  }
  .submitButton {
    text-transform: none;
    @extend %button-1;
    padding: 10px 20px;
    border-radius: 100px;
    margin: 40px 0 0 0;
    @extend %h4;
    @media all and (max-width: 40em) {
      width: 100%;
    }
  }
  .errorDateBox {
    width: 100%;
    margin-top: 20px;
    color: map-get($theme-colors, "red");
    @extend %text-main;
  }
  .scheduleContainer {
    max-width: 640px;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: map-deep-get($theme-colors, "box-shadow", "shadow");
    @media all and (max-width: 48em) {
      max-width: 100%;
      padding: 40px 0;
    }
    @media all and (max-width: 40em) {
      box-shadow: none;
      padding: 20px 0;
    }
    .timeTitle,
    .durationTitle {
      text-align: center;
    }
    .timeTitle {
      @extend %h2;
      margin: 0 0 10px 0;
    }
    .durationTitle {
      @extend %h3;
      margin: 0;
      color: map-get($theme-colors, "main-blue");
    }
    .timeZoneBox {
      margin: 20px 0;
      @media all and (max-width: 48em) {
        margin: 20px;
      }
      p {
        @extend %h3;
        margin: 0 0 5px 0;
      }
      .timeZoneField {
        max-width: 360px;
        div:nth-child(3) {
          border-radius: 5px;
          border-color: map-get($theme-colors, "black");
          @extend %text-main;
          &:active {
            border: solid 2px map-get($theme-colors, "main-blue");
            box-shadow: none;
          }
          > div:nth-child(2) {
            span {
              display: none;
            }
          }
        }
      }
    }
    .daysTimeContainer {
      display: flex;
      flex-direction: column;
      @media all and (max-width: 48em) {
        display: none;
      }
      .daysBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 10px 0;
        max-width: 540px;
        .dayBox {
          width: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          @extend %h2;
        }
      }
      .timeBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 350px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 3px;
        }
        &::-webkit-scrollbar-track {
          background: map-get($theme-colors, "white-blue");
          width: 4px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: map-get($theme-colors, "main-blue");
        }
        .timeButton {
          position: relative;
          margin: 0 0 10px 0;
          .timeCheckbox {
            border: solid 1px map-get($theme-colors, "main-blue");
            padding: 0;
            width: 60px;
            height: 30px;
            border-radius: 4px;
            svg {
              display: none;
            }
          }
          .timeCheckbox.Mui-checked {
            background-color: map-get($theme-colors, "main-blue");
          }
          .timeCheckbox.Mui-checked + .MuiTypography-root {
            color: map-get($theme-colors, "white");
          }
          .MuiTypography-root {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @extend %text-small;
            color: map-get($theme-colors, "main-blue");
          }
        }
      }
    }
    .mobileDaysTimeContainer {
      .daysBox {
        justify-content: space-around;
      }
      .timeBox {
        justify-content: space-around;
        .itemTimeBox {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .scheduleSlider {
      display: none;
      @media all and (max-width: 48em) {
        display: block;
      }
      @media all and (max-width: 40em) {
        padding: 0 25px;
      }
      padding: 0 45px;
      .slick-arrow {
        width: 40px;
        height: 40px;
        &::before {
          opacity: 1;
          color: map-get($theme-colors, "main-blue");
          @extend %h1;
        }
      }
      .slick-prev {
        left: 0;
        &::before {
          content: "<";
        }
        @media all and (max-width: 40em) {
          left: -10px;
        }
      }
      .slick-next {
        right: 0;
        &::before {
          content: ">";
        }
        @media all and (max-width: 40em) {
          right: -10px;
        }
      }
    }
  }
}
