@import "../../variables";

.signInForm {
  display: flex;
  flex-direction: column;
  .signInTitle {
    @extend %h1;
    margin: 0 0 20px 0;
    text-align: center;
  }
  .signInFieldBox {
    margin-bottom: 10px;
    .signInLabel {
      @extend %h3;
      color: map-get($theme-colors, "black");
    }
    .signInLabel.errorLabel {
      color: map-get($theme-colors, "red");
    }
    .controlledFieldBox {
      margin-top: 5px;
    }
  }
  .linkForgotBox {
    display: flex;
    justify-content: flex-end;
    margin-top: -15px;
  }
  .linkForgot,
  .linkReg {
    text-decoration: none;
    color: map-get($theme-colors, "main-blue");
    @extend %text-small;
  }
  .buttonSubmit {
    text-transform: none;
    @extend %text-main;
    @extend %button-1;
    height: 40px;
    width: 100%;
    margin: 20px 0 10px 0;
    border-radius: 100px;
  }
  .noAccountBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    p {
      margin: 0 10px 0 0;
      @extend %text-small;
      color: map-get($theme-colors, "gray");
    }
  }
  .authBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
    p {
      margin: 0 0 5px 0;
      @extend %text-main;
      color: map-get($theme-colors, "gray");
    }
    .authButton {
      text-transform: none;
      width: 32px;
      min-width: 32px;
      height: 32px;
      border-radius: 100%;
      background-color: map-get($theme-colors, "main-blue");
      margin: 5px 20px 0 0;
      color: map-get($theme-colors, "white");
      @extend %h2;
      font-size: 23px;
      svg {
        font-size: 17px;
      }
    }
    .authButton:last-child {
      margin-right: 0;
    }
  }
}
