@import "../../variables";

.unLoggedUser.teacherPageContainer {
  @media all and (max-width: 45em) {
    padding: 0 20px 150px 20px !important;
    margin: 65px 0 0 0;
  }
}

.teacherPageContainer {
  padding: 30px 0 150px 0 !important;
  position: relative;
  min-height: 800px;
  @media all and (max-width: 78em) {
    padding: 30px 20px 150px 20px !important;
  }
  .locationTeacherPageBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 30px 0;
    @extend %text-small;
    @media all and (max-width: 40em) {
      flex-wrap: wrap;
    }
    .teacherPageLink,
    .arrowIcon {
      color: map-get($theme-colors, "gray");
      margin: 0;
      text-decoration: none;
    }
    p {
      margin: 0;
    }
  }
  .teacherProfilePageBox {
    display: flex;
    flex-direction: column;
    .teacherInformationBox {
      display: flex;
      flex-direction: row;
      @media all and (max-width: 40em) {
        flex-direction: column;
        position: relative;
      }
      .teacherAvatar {
        width: 240px;
        height: 240px;
        margin-right: 20px;
        @media all and (max-width: 40em) {
          width: 140px;
          height: 140px;
        }
      }
      .teacherInformationContent {
        .teacherName {
          margin: 0 0 10px 0;
          @extend %h1;
          @media all and (max-width: 40em) {
            position: absolute;
            left: 160px;
            top: 0;
          }
        }
        .teacherRatingBox {
          display: flex;
          flex-direction: row;
          align-items: center;
          @media all and (max-width: 40em) {
            position: absolute;
            left: 160px;
            top: 30px;
            flex-direction: column;
            align-items: flex-start;
          }
          .countOfFeedback {
            @extend %text-main;
            color: map-get($theme-colors, "main-blue");
            margin: 0 0 0 10px;
            @media all and (max-width: 40em) {
              margin: 0;
            }
          }
          .MuiRating-root {
            .emptyIcon,
            .fillIcon {
              width: 17px;
              height: 17px;
              @media all and (max-width: 40em) {
                width: 20px;
                height: 20px;
              }
            }
            .emptyIcon {
              fill: map-get($theme-colors, "white-yellow");
            }
          }
        }
        .certificatedTeacherBox {
          margin: 10px 0 15px 0;
          @media all and (max-width: 40em) {
            position: absolute;
            left: 160px;
            top: 65px;
          }
          .MuiCheckbox-root {
            padding: 0;
            width: 17px;
            height: 17px;
            color: map-get($theme-colors, "main-blue");
            margin-right: 3px;
            svg {
              width: 17px;
              height: 17px;
            }
          }
          .MuiTypography-root {
            @extend %text-main;
            color: map-deep-get($theme-colors, "text", "dark-gray");
          }
        }
        .languageBox {
          margin-bottom: 10px;
          @media all and (max-width: 40em) {
            margin-top: 10px;
          }
          .levelOfLanguage,
          .countOfStudent,
          .costPerHour {
            margin: 0 0 20px 0;
            @extend %h3;
            word-break: break-all;
          }
          .levelOfLanguage {
            .lowLevel,
            .averageLevel,
            .highLevel {
              @extend %text-small;
              padding: 5px 10px;
              border-radius: 100px;
              margin-left: 10px;
              display: inline-block;
            }
            .lowLevel {
              background-color: map-get($theme-colors, "light-red");
              color: map-get($theme-colors, "red");
            }
            .averageLevel {
              background-color: map-get($theme-colors, "white-yellow");
              color: map-get($theme-colors, "orange");
            }
            .highLevel {
              background-color: map-get($theme-colors, "light-green");
              color: map-get($theme-colors, "green");
            }
          }
          .countOfStudent {
            .newTeacher {
              @extend %text-small;
              padding: 5px 10px;
              border-radius: 100px;
              margin-left: 10px;
              display: inline-block;
              background-color: map-get($theme-colors, "light-green");
              color: map-get($theme-colors, "green");
            }
          }
          .costPerHour {
            span {
              color: map-get($theme-colors, "main-blue");
            }
          }
        }
        .languageBox.expandedList {
          border-bottom: solid 1px map-get($theme-colors, "gray");
        }
        .seeMoreButtonBox {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          button {
            padding: 0;
            text-transform: none;
            color: map-get($theme-colors, "main-blue");
            @extend %text-main;
          }
        }
        .writeButtonBox {
          width: 100%;
          margin-top: 20px;
          button {
            width: 100%;
            @extend %text-main;
            @extend %button-1;
            padding: 10px 20px;
            text-transform: none;
            border-radius: 100px;
          }
        }
      }
    }
    .teacherSkillsBox {
      margin: 70px 0;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      @media all and (max-width: 40em) {
        margin: 30px 0;
        flex-direction: column;
      }
      .titleSkills {
        margin: 0 20px 0 0;
        @extend %h2;
        max-width: 240px;
        @media all and (max-width: 40em) {
          max-width: 100%;
          margin: 0 0 10px 0;
        }
      }
      .descriptionsBox {
        display: flex;
        flex-direction: column;
        p {
          margin: 0;
          @extend %text-main;
        }
      }
    }
  }
  .teacherScheduleBox {
    width: 100vw;
    margin-left: calc(49.1% - 50vw);
    background-color: map-get($theme-colors, "white-blue");
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media all and (max-width: 60em) {
      margin-left: calc(49% - 50vw);
    }
    @media all and (max-width: 55em) {
      margin-left: calc(48.5% - 50vw);
    }
    @media all and (max-width: 45em) {
      width: 100%;
      margin-left: 0;
      background-color: map-get($theme-colors, "white");
      padding: 0;
    }
  }
}
