@import "../../variables";

.registrationStudentBox {
  .addLanguageButtonBox {
    margin: 20px 0 30px 0;
    button {
      text-transform: none;
      @extend %text-main;
      color: map-get($theme-colors, "black");
      padding: 0;
      .addBox {
        background-color: map-get($theme-colors, "main-blue");
        color: map-get($theme-colors, "white");
        margin-right: 10px;
        border-radius: 100%;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .submitButtonBox {
    display: flex;
    justify-content: flex-end;
    button {
      text-transform: none;
      @extend %h4;
      @extend %button-1;
      border-radius: 100px;
      padding: 10px 20px;
      @media all and (max-width: 40em) {
        width: 100%;
      }
    }
  }
}
