@import "../../variables";

.mainPageContainer {
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media all and (max-width: 78em) {
    padding: 0 20px !important;
  }
  .firstMainPageBox {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 130px 0 0 0;
    min-height: 430px;
    @media all and (max-width: 50em) {
      margin: 90px 0 0 0;
    }
    .titleFirstBox {
      margin: 0 0 10px 0;
      @extend %h1;
      color: map-get($theme-colors, "main-blue");
      max-width: 599px;
      @media all and (max-width: 65em) {
        max-width: 450px;
      }
      @media all and (max-width: 55em) {
        max-width: 100%;
      }
      span {
        background-color: map-get($theme-colors, "main-blue");
        color: map-get($theme-colors, "white");
        padding: 4px 15px;
        border-radius: 4px;
        margin-right: 15px;
        @extend %h1;
      }
    }
    .mainPicture {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 680px;
      @media all and (max-width: 55em) {
        position: relative;
        margin: 0 auto 20px auto;
      }
      @media all and (max-width: 50em) {
        max-width: 100%;
      }
    }
    .titleWords {
      max-width: 599px;
      margin: 0 0 10px 0;
      @extend %text-main;
      @media all and (max-width: 65em) {
        max-width: 450px;
      }
      @media all and (max-width: 55em) {
        max-width: 100%;
      }
    }
    a {
      text-decoration: none;
      @extend %button-1;
      width: 210px;
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend %h4;
      border-radius: 100px;
      @media all and (max-width: 55em) {
        width: 100%;
        padding: 10px 0;
      }
    }
  }
  .secondMainPageBox {
    margin: 100px 0 0 0;
    @media all and (max-width: 55em) {
      margin: 50px 0 0 0;
    }
    .title {
      margin: 0 0 20px 0;
      @extend %h1;
    }
    .picturesBox {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      @media all and (max-width: 55em) {
        flex-direction: column;
      }
      @media all and (max-width: 40em) {
        margin: 0 -20px;
      }
      .learningBox {
        box-shadow: map-deep-get($theme-colors, "box-shadow", "shadow");
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 38px 26px 38px 20px;
        @media all and (max-width: 45em) {
          flex-direction: column;
          align-items: center;
          padding: 20px 20px 10px 20px;
        }
        img {
          margin-left: 20px;
        }
        .learningTitle {
          margin: 0 0 10px 0;
          @extend %h2;
          @media all and (max-width: 45em) {
            text-align: center;
          }
        }
        .learningText {
          margin: 0;
          @extend %text-main;
          @media all and (max-width: 45em) {
            text-align: center;
          }
        }
      }
      .learningBox_1 {
        margin: 0 20px 30px 0;
      }
      .learningBox_2 {
        margin: 0 0 30px 0;
      }
      .learningBox_3 {
        margin: 0 20px 0 0;
      }
      .learningBox_1,
      .learningBox_4 {
        flex-basis: 56%;
        @media all and (max-width: 68em) {
          flex-basis: 55%;
        }
        @media all and (max-width: 55em) {
          flex-basis: 100%;
          margin: 0 0 10px 0;
        }
      }
      .learningBox_2,
      .learningBox_3 {
        flex-basis: 42%;
        @media all and (max-width: 68em) {
          flex-basis: 40%;
        }
        @media all and (max-width: 55em) {
          flex-basis: 100%;
          margin: 0 0 10px 0;
        }
      }
    }
  }
  .thirdMainPageBox {
    margin: 100px 0;
    @media all and (max-width: 55em) {
      margin: 40px 0 60px 0;
    }
    .title {
      margin: 0 0 30px 0;
      @extend %h1;
    }
    .howToLearnPicturesBox {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      @media all and (max-width: 55em) {
        flex-direction: column;
        align-items: center;
      }
      .howToLearnBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media all and (max-width: 55em) {
          align-items: center;
          width: 100%;
        }
        .stepsBox {
          display: flex;
          flex-direction: row;
          align-items: center;
          .stepsNumberBox {
            position: relative;
            margin: 0 10px 0 0;
            .numberAbove,
            .numberUnder {
              @extend %h1;
              font-size: 36px;
              line-height: 120%;
              margin: 0;
            }
            .numberAbove {
              color: map-get($theme-colors, "white");
              position: absolute;
            }
            .numberUnder {
              color: map-get($theme-colors, "main-blue");
              -webkit-text-stroke: 4px map-get($theme-colors, "main-blue");
            }
          }
          .stepTitle {
            @extend %h2;
            color: map-get($theme-colors, "main-blue");
          }
          span {
            background-color: map-get($theme-colors, "main-blue");
            color: map-get($theme-colors, "white");
            padding: 5px 10px;
            border-radius: 4px;
            margin: 0 0 0 4px;
            @extend %h2;
          }
        }
        .stepsPicturesBox {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
      .howToLearnBox_1 {
        .stepsPicturesBox {
          @media all and (max-width: 55em) {
            flex-direction: column;
          }
          .arrowPicture {
            @media all and (max-width: 55em) {
              transform: scaleX(-1) rotate(65deg);
              margin-top: 40px;
            }
          }
        }
      }
      .howToLearnBox_2 {
        margin-top: 30px;
        width: 38%;
        @media all and (max-width: 55em) {
          width: 100%;
        }
        .stepsPicturesBox {
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          @media all and (max-width: 55em) {
            align-items: center;
          }
          .arrowPicture {
            transform: rotate(20deg);
            align-self: flex-end;
            margin-top: -20px;
            @media all and (max-width: 55em) {
              transform: scaleX(-1) rotate(65deg);
              margin-top: 40px;
              align-self: center;
            }
          }
        }
      }
      .howToLearnBox_3 {
        order: 1;
        @media all and (max-width: 70em) {
          order: 0;
          width: 100%;
          justify-content: flex-end;
          align-items: flex-end;
        }
        @media all and (max-width: 55em) {
          align-items: center;
          margin-top: 40px;
        }
        .stepsBox {
          width: 100%;
          justify-content: center;
          @media all and (max-width: 70em) {
            justify-content: flex-end;
          }
          @media all and (max-width: 55em) {
            justify-content: center;
          }
        }
        .stepsPicturesBox {
          @media all and (max-width: 55em) {
            flex-direction: column;
          }
          .arrowPicture {
            order: -1;
            margin-top: 80px;
            @media all and (max-width: 55em) {
              order: 0;
              margin: 0;
              transform: rotate(-65deg);
              margin-top: 40px;
            }
          }
        }
      }
      .howToLearnBox_4 {
        width: 50%;
        align-items: flex-end;
        margin: 60px 0 0 0;
        @media all and (max-width: 55em) {
          width: 100%;
          align-items: center;
        }
      }
    }
  }
}
