@import "../../variables";

.allLessonsPageContainer {
  padding: 30px 0 100px 0 !important;
  position: relative;
  min-height: 700px;
  @media all and (max-width: 78em) {
    padding: 30px 20px 100px 20px !important;
  }
}
