@import "../../variables";

.studentProfileBox {
  width: 100%;
  .studentProfileInformationBox {
    margin: 30px 0 0 0;
    padding-bottom: 30px;
    border-bottom: solid 1px map-deep-get($theme-colors, "border", "disable");
    .doubleFields {
      max-width: 820px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 0 10px 0;
      @media all and (max-width: 53em) {
        flex-direction: column;
      }
    }
    .studentProfileFieldBox {
      max-width: 380px;
      width: 100%;
      display: flex;
      flex-direction: column;
      @media all and (max-width: 40em) {
        max-width: 100%;
      }
      .studentProfileLabel {
        @extend %h3;
        margin: 0 0 5px 0;
        color: map-get($theme-colors, "black");
      }
      .studentProfileLabel.errorLabel {
        color: map-get($theme-colors, "red");
      }
      .dataField {
        all: unset;
        height: 40px;
        background-color: map-get($theme-colors, "white");
        border-radius: 5px;
        border: solid 1px map-get($theme-colors, "gray");
        padding: 0 15px;
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        @media all and (max-width: 40em) {
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 16.5px;
        }
        &::placeholder {
          color: map-get($theme-colors, "gray");
          @extend %text-main;
        }
        &:focus {
          border: solid 2px map-get($theme-colors, "main-blue");
        }
      }
      .dataField.errorField {
        border: solid 2px map-get($theme-colors, "red");
      }
      .errorMessage {
        color: map-get($theme-colors, "red");
        @extend %text-small;
      }
    }
    .dateOfBirthBox {
      position: relative;
      .errorIcon {
        position: absolute;
        right: 12px;
        top: 33px;
        color: map-get($theme-colors, "red");
      }
    }
    .fieldWithOpenModal {
      margin-top: -65px;
      @media all and (max-width: 53em) {
        margin-top: 0;
      }
    }
    .fieldWithoutOpenModal {
      margin-top: 0;
    }
  }
  .studentRowBox {
    .languageLevelBoxes,
    .goalBox {
      max-width: 820px;
    }
  }
  .addLanguagesButtonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 0 0;
    p {
      @extend %text-main;
      margin: 0 0 0 10px;
    }
    button {
      @extend %button-1;
      border-radius: 100%;
      width: 44px;
      height: 44px;
      min-width: 44px;
    }
  }
  .submitButtonBox {
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
    margin: 30px 0 0 0;
    button {
      @extend %text-main;
      @extend %button-1;
      border-radius: 100px;
      padding: 10px 20px;
      text-transform: none;
      @media all and (max-width: 40em) {
        width: 100%;
      }
    }
    @media all and (max-width: 53em) {
      padding-right: 0;
    }
  }
}
