@import "../../variables";

.teacherReviewsBox {
  margin: 70px 0 0 0;
  .titlesBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 30px 0;
    @media all and (max-width: 40em) {
      flex-direction: column;
      align-items: flex-start;
    }
    .title {
      @extend %h2;
      margin: 0 10px 0 0;
      @media all and (max-width: 40em) {
        margin: 0 0 10px 0;
      }
    }
    .averageRating {
      @extend %text-small;
      margin: 0;
      padding: 5px 10px;
      background-color: map-get($theme-colors, "white-blue");
      color: map-get($theme-colors, "main-blue");
      border-radius: 100px;
    }
  }
  .reviewsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .reviewItem {
      box-shadow: map-deep-get($theme-colors, "box-shadow", "shadow");
      max-width: 580px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 380px;
      @media all and (max-width: 65em) {
        max-width: 100%;
      }
      @media all and (max-width: 40em) {
        height: 560px;
      }
      .ratingReview {
        margin: 35px auto 10px auto;
        .emptyIcon,
        .fillIcon {
          width: 20px;
          height: 20px;
        }
        .fillIcon {
          fill: map-deep-get($theme-colors, "border", "hover");
        }
        .emptyIcon {
          fill: map-get($theme-colors, "white-blue");
        }
      }
      .titleReview,
      .mobileTitle {
        margin: 0 30px 10px 30px;
        text-align: center;
        @extend %h2;
        color: map-get($theme-colors, "main-blue");
      }
      .titleReview {
        @media all and (max-width: 40em) {
          display: none;
        }
      }
      .mobileTitle {
        display: none;
        @extend %h3;
        @media all and (max-width: 40em) {
          display: inline;
          text-align: left;
        }
      }
      .descriptionReview {
        display: flex;
        flex-direction: row;
        margin: 0 30px 10px 30px;
        min-height: 50px;
        @media all and (max-width: 40em) {
          flex-direction: column;
        }
        .titleDescription {
          @extend %h3;
          margin: 0 5px 0 0;
          color: map-deep-get($theme-colors, "text", "dark-gray");
          @media all and (max-width: 40em) {
            margin: 0 0 10px 0;
          }
        }
        .textDescription {
          margin: 0;
          @extend %text-main;
          color: map-deep-get($theme-colors, "text", "dark-gray");
        }
      }
      .userControlsBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px 35px 30px;
        @media all and (max-width: 40em) {
          flex-direction: column;
          align-items: flex-start;
        }
        .userDateBox {
          display: flex;
          flex-direction: row;
          @media all and (max-width: 40em) {
            margin: 15px 0;
          }
          .reviewDate,
          .userName {
            color: map-get($theme-colors, "white-gray");
            @extend %text-main;
            margin: 0;
          }
          .reviewDate {
            margin-right: 20px;
          }
        }
        .readMoreButton {
          padding: 0;
          text-transform: none;
          color: map-get($theme-colors, "main-blue");
          @extend %h3;
        }
      }
    }
  }
  .controlsReviewsBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 0 0;
    @media all and (max-width: 40em) {
      justify-content: center;
    }
    button {
      @extend %button-1;
      border-radius: 100%;
      padding: 0;
      width: 44px;
      height: 44px;
      min-width: 44px;
    }
    button.Mui-disabled {
      background-color: map-deep-get($theme-colors, "border", "disable");
      border: solid 1px map-deep-get($theme-colors, "border", "disable");
    }
    .countOfPagesReviews {
      margin: 0 20px;
      @extend %h2;
      color: map-deep-get($theme-colors, "text", "dark-gray");
    }
  }
}
