@import "../../variables";

.containerAuthPage {
  padding-left: 20px !important;
  padding-right: 20px !important;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  .titleBox {
    margin: 100px 0 60px 0;
    max-width: 576px;
    position: relative;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      margin: 0;
      @extend %h1;
      font-size: 28px;
      line-height: 120%;
      color: map-get($theme-colors, "main-blue");
      span {
        padding: 4px 15px;
        color: map-get($theme-colors, "white");
        background-color: map-get($theme-colors, "main-blue");
        border-radius: 4px;
      }
    }
    .firstTag,
    .secondTag {
      color: map-get($theme-colors, "main-blue");
      background-color: map-get($theme-colors, "light-violet");
      border: 2px solid map-get($theme-colors, "main-blue");
      border-radius: 4px;
      @extend %text-main;
      padding: 10px 20px;
      max-width: 270px;
      position: absolute;
    }
    .firstTag {
      transform: rotate(-5deg);
      top: 82px;
      left: 0;
    }
    .secondTag {
      top: 160px;
      right: 0;
      transform: rotate(2deg);
    }
    img {
      margin-left: 20px;
    }
  }
}
