@import "../../variables";

.customErrorContainer {
  padding: 110px 0 500px 0 !important;
  position: relative;
  .contentCustomError {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    width: 100%;
    img {
      position: absolute;
      max-width: 500px;
      height: 380px;
      top: 70px;
      right: 0;
    }
    .title {
      @extend %h1;
      margin: 0 0 15px 0;
      color: map-get($theme-colors, "main-blue");
    }
    .text {
      @extend %text-main;
      margin: 0 0 15px 0;
    }
    .navigationButton {
      @extend %text-main;
      @extend %button-1;
      text-transform: none;
      padding: 10px 20px;
      border-radius: 100px;
      width: auto;
      max-width: 250px;
    }
  }
}
