@import "../../variables";

.authHeaderContainer {
  max-width: 1200px;
  padding: 10px 20px 20px 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .firstColHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 654px;
    width: 100%;
    .balanceLinksBox {
      display: flex;
      flex-direction: column;
      .linksAuthHeaderBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        .buttonLesson {
          text-transform: none;
          @extend %text-main;
          margin-right: 20px;
          padding: 0;
          color: map-get($theme-colors, "black");
        }
        .menuLessonsBox {
          position: absolute;
          left: 0;
          top: 30px;
          display: flex;
          flex-direction: column;
          padding: 30px 100px 30px 30px;
          z-index: 1;
          background-color: map-get($theme-colors, "white");
          box-shadow: map-deep-get($theme-colors, "box-shadow", "shadow");
          a {
            text-decoration: none;
            @extend %text-main;
            color: map-get($theme-colors, "black");
            margin-bottom: 6px;
          }
        }
        .nav-link {
          text-decoration: none;
          @extend %text-main;
          margin-right: 20px;
          color: map-get($theme-colors, "black");
        }
        .nav-link:last-child {
          margin-right: 0;
        }
        .nav-link.active {
          color: map-get($theme-colors, "main-blue");
        }
      }
      .balanceBox {
        margin-bottom: 10px;
        .balanceField {
          max-width: 180px;
          .MuiInputBase-root.MuiInputBase-formControl {
            height: 40px;
            border-radius: 5px;
            @extend %text-main;
            padding: 0 10px 0 0;
            input {
              height: 40px;
              padding: 0 10px;
              color: map-get($theme-colors, "black");
            }
            .MuiInputAdornment-root {
              color: map-get($theme-colors, "black");
            }
            fieldset {
              border: solid 1px map-get($theme-colors, "gray");
            }
          }
          .MuiInputBase-root.MuiInputBase-formControl.Mui-focused {
            border: none;
            fieldset {
              border: solid 2px map-get($theme-colors, "main-blue");
            }
          }
        }
        .currencyField {
          margin: 0 20px;
          .MuiInputBase-root {
            height: 40px;
            fieldset {
              display: none;
            }
            .MuiSelect-select {
              @extend %text-main;
              padding-top: 5px;
              padding-bottom: 0;
              color: map-get($theme-colors, "gray");
            }
          }
        }
        .withdrawButton {
          @extend %button-2;
          text-transform: none;
          border-radius: 100px;
          padding: 10px 20px;
          @extend %text-main;
        }
      }
    }
  }
  .secondColHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 78px;
    .languageField {
      height: 25px;
      width: 70px;
      .MuiInputBase-root {
        height: 25px;
        fieldset {
          display: none;
        }
        .MuiSelect-select {
          @extend %text-main;
          padding-top: 5px;
          padding-bottom: 0;
          color: map-get($theme-colors, "gray");
        }
      }
    }
    .personalControlsBox {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      position: relative;
      .notificationButton,
      .mailButton {
        color: map-get($theme-colors, "black");
        padding: 0;
        width: 32px;
        height: 32px;
        min-width: 32px;
        border-radius: 0;
        svg {
          font-size: 28px;
        }
      }
      .notificationButton {
        margin-right: 20px;
      }
      .userAvatarButton {
        padding: 0;
        width: 32px;
        height: 32px;
        min-width: 32px;
        margin: 0 25px 0 20px;
        .userAvatar {
          width: 32px;
          height: 32px;
        }
      }
      .personalMenuBox {
        position: absolute;
        top: 35px;
        right: 20px;
        z-index: 1;
        background-color: map-get($theme-colors, "white");
        box-shadow: map-deep-get($theme-colors, "box-shadow", "shadow");
        display: flex;
        flex-direction: column;
        padding: 30px 60px 30px 30px;
        width: 100%;
        .nav-link {
          text-decoration: none;
          @extend %text-main;
          color: map-get($theme-colors, "black");
          margin-bottom: 10px;
        }
        .nav-link.active {
          color: map-get($theme-colors, "main-blue");
        }
        .logOutButton {
          @extend %text-main;
          color: map-get($theme-colors, "black");
          padding: 0;
          text-transform: none;
          justify-content: flex-start;
          border-radius: 0;
        }
      }
    }
  }
}
