@import "../../variables";

.unLoggedUser.termsContainer {
  @media all and (max-width: 45em) {
    padding: 0 20px 60px 20px !important;
    margin: 65px 0 0 0;
  }
}

.termsContainer {
  padding: 30px 0 120px 0 !important;
  @media all and (max-width: 78em) {
    padding: 30px 20px 120px 20px !important;
  }
  @media all and (max-width: 50em) {
    padding: 30px 20px 60px 20px !important;
  }
  .locationTermsPage {
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    @extend %text-small;
    a,
    .arrowIcon {
      color: map-get($theme-colors, "gray");
      margin: 0;
      text-decoration: none;
    }
    p {
      margin: 0;
    }
  }
  .titlePage {
    margin: 0 0 30px 0;
    @extend %h1;
  }
  .rowWithoutUlTerms {
    margin: 0 0 30px 0;
    padding-left: 0;
    p:nth-child(1) {
      @extend %h2;
      margin-bottom: 10px;
    }
    p {
      @extend %text-main;
    }
  }
  .rowWithUlTerms,
  .sevenRowTerms {
    margin: 0 0 30px 0;
    padding-left: 0;
    p:nth-child(1) {
      @extend %h2;
      margin-bottom: 10px;
    }
    p {
      @extend %text-main;
    }
    .listTerms {
      padding-left: 15px;
      .listTermsItem {
        padding: 0;
        align-items: baseline;
        .listIcon {
          width: 20px;
          min-width: 20px;
          svg {
            fill: map-get($theme-colors, "black");
            font-size: 10px;
          }
        }
        .listText {
          @extend %text-main;
          margin: 0;
        }
      }
    }
  }
  .sevenRowTerms {
    p:nth-child(2),
    p:nth-child(4) {
      @extend %h3;
      margin-top: 20px;
    }
  }
}
