@import "../../variables";

.termsContainer {
  padding: 30px 0 120px 0 !important;
  .locationTermsPage {
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    @extend %text-small;
    a,
    .arrowIcon {
      color: map-get($theme-colors, "gray");
      margin: 0;
      text-decoration: none;
    }
    p {
      margin: 0;
    }
  }
  .titlePage {
    margin: 0 0 30px 0;
    @extend %h1;
  }
  .rowWithoutUlTerms {
    margin: 0 0 30px 0;
    padding-left: 0;
    p:nth-child(1) {
      @extend %h2;
      margin-bottom: 10px;
    }
    p {
      @extend %text-main;
    }
  }
  .rowWithUlTerms,
  .sevenRowTerms {
    margin: 0 0 30px 0;
    padding-left: 0;
    p:nth-child(1) {
      @extend %h2;
      margin-bottom: 10px;
    }
    p {
      @extend %text-main;
    }
    ul {
      padding-left: 35px;
      li {
        @extend %text-main;
      }
    }
  }
  .sevenRowTerms {
    p:nth-child(2),
    p:nth-child(4) {
      @extend %h3;
      margin-top: 20px;
    }
  }
}
