@import "../../variables";

.unLoggedUser.askQuestionPageContainer {
  @media all and (max-width: 45em) {
    padding: 0 20px 60px 20px !important;
    margin: 65px 0 0 0;
  }
}

.askQuestionPageContainer {
  padding: 30px 0 100px 0 !important;
  @media all and (max-width: 78em) {
    padding: 30px 20px 100px 20px !important;
  }
  .locationAskQuestionPage {
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    @extend %text-small;
    a,
    .arrowIcon {
      color: map-get($theme-colors, "gray");
      margin: 0;
      text-decoration: none;
    }
    p {
      margin: 0;
    }
  }
  .titlePage {
    margin: 0 0 30px 0;
    @extend %h1;
    @media all and (max-width: 55em) {
      margin: 0 0 10px 0;
    }
  }
  .contentAskQuestion {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    @media all and (max-width: 55em) {
      flex-direction: column;
    }
    form {
      max-width: 780px;
      width: 100%;
      @media all and (max-width: 40em) {
        max-width: 100%;
      }
      .questionFieldBox {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        .questionLabel {
          @extend %h3;
          margin: 0 0 5px 0;
          color: map-get($theme-colors, "black");
        }
        .questionLabel.errorLabel {
          color: map-get($theme-colors, "red");
        }
        .errorMessage {
          color: map-get($theme-colors, "red");
          margin: 5px 0 0 0;
          @extend %text-small;
        }
        .questionField {
          all: unset;
          width: calc(100% - 20px);
          border-radius: 5px;
          padding: 10px;
          height: 150px;
          @extend %text-main;
          border: solid 1px map-get($theme-colors, "white-gray");
          &::placeholder {
            color: map-get($theme-colors, "white-gray");
            @extend %text-main;
          }
          &:focus-visible {
            border: solid 2px map-get($theme-colors, "main-blue");
          }
        }
        .questionField.errorField {
          border: solid 2px map-get($theme-colors, "red");
          &:focus-visible {
            border: solid 2px map-get($theme-colors, "main-blue");
          }
        }
      }
      .emailBox {
        max-width: 380px;
        @media all and (max-width: 40em) {
          max-width: 100%;
        }
      }
      .submitButtonBox {
        display: flex;
        justify-content: flex-end;
        margin: 20px 0 0 0;
        button {
          @extend %text-main;
          @extend %button-1;
          border-radius: 100px;
          padding: 10px 20px;
          text-transform: none;
          @media all and (max-width: 40em) {
            width: 100%;
          }
        }
      }
    }
    .questionImageBox {
      max-width: 400px;
      width: 100%;
      margin: 0 0 0 20px;
      @media all and (max-width: 55em) {
        order: -1;
      }
      @media all and (max-width: 40em) {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
      }
      img {
        @media all and (max-width: 55em) {
          max-width: 283px;
          height: 200px;
        }
      }
    }
  }
}
