@import "../../variables";

.registrationPageContainer {
  padding: 60px 0 150px 0 !important;
  position: relative;
  @media all and (max-width: 78em) {
    padding: 60px 20px 150px 20px !important;
  }
  @media all and (max-width: 40em) {
    padding: 30px 20px 60px 20px !important;
  }
  .titleRegister {
    @extend %h1;
    margin: 0 0 40px 0;
    @media all and (max-width: 40em) {
      text-align: center;
    }
  }
}
