@import "../../variables";

.cardTeacherBox {
  box-shadow: map-deep-get($theme-colors, "box-shadow", "shadow");
  position: relative;
  background-color: map-get($theme-colors, "white");
  margin: 0 0 10px 0;
  width: 100%;
  .teacherGeneralInfoBox {
    margin: 20px 30px 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media all and (max-width: 40em) {
      flex-direction: column;
      position: relative;
    }
    .teacherAvatar {
      width: 140px;
      height: 140px;
      margin: 0 20px 15px 0;
      &:hover {
        cursor: pointer;
      }
      @media all and (max-width: 40em) {
        width: 80px;
        height: 80px;
      }
    }
    .teacherInfoBox {
      display: flex;
      flex-direction: column;
      flex: 1;
      @media all and (max-width: 40em) {
        margin: 0 0 5px 0;
      }
      .teacherName {
        margin: 0 0 10px 0;
        @extend %h2;
        &:hover {
          color: map-get($theme-colors, "main-blue");
          cursor: pointer;
        }
        @media all and (max-width: 40em) {
          position: absolute;
          top: 0;
          left: 100px;
          font-size: 16px;
          line-height: 20px;
        }
      }
      .teacherRatingBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        @media all and (max-width: 40em) {
          position: absolute;
          top: 30px;
          left: 100px;
        }
        .countOfFeedback {
          @extend %text-small;
          color: map-deep-get($theme-colors, "text", "grey");
          margin: 0 0 0 10px;
        }
        .MuiRating-root {
          .emptyIcon,
          .fillIcon {
            width: 17px;
            height: 17px;
          }
          .emptyIcon {
            fill: map-get($theme-colors, "white-yellow");
          }
        }
      }
      .certificatedTeacherBox {
        margin: 5px 0;
        @media all and (max-width: 40em) {
          position: absolute;
          top: 50px;
          left: 100px;
        }
        .MuiCheckbox-root {
          padding: 0;
          width: 17px;
          height: 17px;
          color: map-get($theme-colors, "main-blue");
          margin-right: 3px;
          svg {
            width: 17px;
            height: 17px;
          }
        }
        .MuiTypography-root {
          @extend %h4;
          color: map-get($theme-colors, "main-blue");
          @media all and (max-width: 40em) {
            font-size: 14px;
            line-height: 19px;
          }
        }
      }
      .teacherLevelLanguage {
        margin: 0 0 5px 0;
        @extend %text-main;
        @media all and (max-width: 40em) {
          font-size: 14px;
          line-height: 19px;
          margin: 5px 0 5px 0;
        }
        .lowLevel,
        .averageLevel,
        .highLevel {
          @extend %h5;
          padding: 5px 10px;
          border-radius: 100px;
          margin-left: 10px;
          display: inline;
          @media all and (max-width: 40em) {
            font-size: 12px;
            line-height: 15px;
            word-break: break-all;
          }
        }
        .lowLevel {
          background-color: map-get($theme-colors, "light-red");
          color: map-get($theme-colors, "red");
        }
        .averageLevel {
          background-color: map-get($theme-colors, "white-yellow");
          color: map-get($theme-colors, "orange");
        }
        .highLevel {
          background-color: map-get($theme-colors, "light-green");
          color: map-get($theme-colors, "green");
        }
      }
      .priceStudentBox {
        display: flex;
        flex-direction: row;
        @media all and (max-width: 45em) {
          flex-direction: column;
        }
        .countStudent,
        .priceText {
          @extend %text-main;
          @media all and (max-width: 40em) {
            font-size: 14px;
            line-height: 19px;
          }
          span {
            color: map-get($theme-colors, "main-blue");
            margin-left: 3px;
            font-weight: 600;
            line-height: 20px;
            @media all and (max-width: 40em) {
              font-size: 14px;
              line-height: 17px;
            }
          }
        }
        .countStudent {
          margin: 0 20px 0 0;
          @media all and (max-width: 45em) {
            margin: 0 0 10px 0;
          }
        }
        .priceText {
          margin: 0;
        }
      }
    }
    .writeButtonBox {
      width: 100%;
      button {
        text-transform: none;
        @extend %h4;
        @extend %button-2;
        border-radius: 100px;
        padding: 10px;
        min-width: 150px;
        @media all and (max-width: 40em) {
          width: 100%;
        }
      }
    }
  }
  .languageDescriptionBox {
    margin: -50px 20px 10px 180px;
    width: calc(100% - 200px);
    @media all and (max-width: 40em) {
      margin: 0 20px 10px 20px;
    }
    .descriptionText {
      margin: 0 0 5px 0;
      @extend %text-main;
      color: map-deep-get($theme-colors, "text", "grey");
    }
    .seeDetailButtonBox {
      display: flex;
      justify-content: flex-end;
      button {
        padding: 0;
        text-transform: none;
        color: map-get($theme-colors, "main-blue");
        @extend %text-main;
      }
    }
  }
  .freeLessonButton {
    margin: 10px 0 30px 180px;
    text-transform: none;
    padding: 0;
    @extend %h3;
    color: map-get($theme-colors, "main-blue");
    @media all and (max-width: 40em) {
      margin: 10px 20px 30px 20px;
    }
  }
}
