@import "../../variables";

.modalBookLessons {
  display: flex;
  align-items: center;
  justify-content: center;
  .contentBookLessons {
    background-color: map-get($theme-colors, "white");
    padding: 10px 10px 30px 10px;
    box-shadow: map-deep-get($theme-colors, "box-shadow", "header");
    max-width: 500px;
    width: 100%;
    .closeButtonBox {
      display: flex;
      justify-content: flex-end;
      button {
        height: 24px;
        width: 24px;
        min-width: 24px;
        color: map-get($theme-colors, "gray");
      }
    }
    .bookingInformation {
      padding: 0 35px;
      .youBooked,
      .withTeacher,
      .timeLesson {
        margin: 0 0 10px 0;
        text-align: center;
      }
      .youBooked {
        @extend %h2;
      }
      .withTeacher {
        @extend %text-main;
      }
      .timeLesson {
        @extend %h1;
        font-size: 18px;
      }
    }
    .imageBox {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
