@import "../../variables";

.emptyDataBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  img {
    max-width: 266px;
    max-height: 265px;
    width: 100%;
    height: 100%;
    @media all and (max-width: 40em) {
      max-width: 236px;
      max-height: 234px;
    }
  }
  p {
    margin: 0;
    @extend %text-main;
    margin: 10px 0 30px 0;
    @media all and (max-width: 40em) {
      text-align: left;
      margin: 10px 0;
    }
  }
  .noOneLessons {
    @extend %h2;
    color: map-get($theme-colors, "main-blue");
    margin: 0;
  }
  a {
    @extend %text-main;
    background-color: map-get($theme-colors, "main-blue");
    color: map-get($theme-colors, "white");
    padding: 10px 20px;
    border-radius: 100px;
    @media all and (max-width: 40em) {
      width: 100%;
      text-align: center;
    }
  }
}

.fullContentLessonsBox {
  max-width: 680px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 675px;
  .lessonsContainer {
    max-width: 680px;
    width: 100%;
  }
  .paginationBox {
    margin-top: 5px;
    max-width: 680px;
  }
}
