@import "../../variables";

.teacherRowBox {
  padding: 30px 0 10px 0;
  border-bottom: solid 1px map-deep-get($theme-colors, "border", "disable");
  display: flex;
  flex-direction: column;
  .firstRowTeacher,
  .secondRowTeacher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 880px;
    @media all and (max-width: 53em) {
      flex-direction: column;
    }
  }
  .teacherFieldBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 388px;
    width: 100%;
    @media all and (max-width: 40em) {
      max-width: 100%;
    }
    .errorIcon {
      margin-right: 5px;
    }
    .errorIcon,
    .errorMessage {
      color: map-get($theme-colors, "red");
    }
    .errorMessage {
      @extend %text-small;
      margin-bottom: 10px;
    }
    .MuiFormLabel-root.MuiFormLabel-filled,
    .MuiFormLabel-root.Mui-focused {
      display: none;
    }
    .MuiInputBase-root {
      fieldset {
        legend {
          display: none;
        }
      }
    }
    .teacherFormLabel {
      @extend %h3;
      margin: 0 0 10px 0;
      color: map-get($theme-colors, "black");
    }
    .hintCoast {
      margin: -5px -30px 0 0;
      @extend %text-small;
      color: map-deep-get($theme-colors, "text", "dark-gray");
      @media all and (max-width: 60em) {
        margin: -5px 0 0 0;
      }
    }
  }
  .descriptionBox {
    max-width: 880px;
    width: 100%;
    .errorIcon,
    .errorMessage {
      color: map-get($theme-colors, "red");
    }
    .errorMessage {
      @extend %text-small;
      margin-bottom: 10px;
    }
    .controlledField {
      .MuiInputBase-root.Mui-error {
        border: none;
        fieldset {
          border: solid 2px map-get($theme-colors, "red");
        }
      }
      .MuiInputBase-root.Mui-focused {
        border: none;
        fieldset {
          border: solid 2px map-get($theme-colors, "main-blue");
        }
      }
    }
  }
  .deleteLanguageBox {
    button {
      text-transform: none;
      @extend %h4;
      @extend %button-2;
      border-radius: 100px;
      padding: 10px 20px;
      margin-bottom: 20px;
      @media all and (max-width: 40em) {
        width: 100%;
      }
    }
  }
  .teacherCertificateBox {
    .addCertificateBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      .labelCertificate {
        width: 46px;
        height: 46px;
        margin: 0 10px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: map-get($theme-colors, "main-blue");
        color: map-get($theme-colors, "white");
        @extend %button-1;
        &:hover {
          cursor: pointer;
        }
      }
      p {
        margin: 0;
        max-width: 300px;
        @extend %text-small;
        color: map-get($theme-colors, "gray");
      }
    }
    .certificateBox {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 0 0 10px 0;
      img {
        width: 80px;
        height: 80px;
        margin: 0 10px 0 0;
      }
      .certificateNameSizeBox {
        margin: 3px 5px 0 0;
        .certificateName,
        .certificateSize {
          @extend %text-small;
        }
        .certificateName {
          margin: 0 0 10px 0;
        }
        .certificateSize {
          color: map-get($theme-colors, "gray");
        }
      }
      .deleteCertificateButton {
        padding: 0;
        min-width: 24px;
        height: 24px;
        width: 24px;
        color: map-get($theme-colors, "gray");
        svg {
          font-size: 17px;
        }
      }
    }
  }
}
