@import "../../variables";

.wrapperHeaderBox {
  box-shadow: map-deep-get($theme-colors, "box-shadow", "header");
  background-color: map-get($theme-colors, "white");
  display: flex;
  justify-content: center;
}

.headerContainer {
  max-width: 1660px;
  width: 100%;
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @media all and (max-width: 45em) {
    padding: 20px;
  }

  a {
    text-decoration: none;
  }
  .firstLinksBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      margin-right: 70px;
    }
    .nav-link {
      @extend %h4;
      color: map-get($theme-colors, "black");
      @media all and (max-width: 60em) {
        display: none;
      }
    }
    .nav-link.active {
      color: map-get($theme-colors, "main-blue");
    }
    .findTeacherLink {
      margin-right: 20px;
    }
  }
  .secondLinksBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    .languageField {
      height: 25px;
      .MuiInputBase-root {
        height: 25px;
        fieldset {
          display: none;
        }
        .MuiSelect-select {
          @extend %text-small;
          font-size: 18px;
          line-height: 130%;
          padding-top: 5px;
          padding-bottom: 0;
          color: map-get($theme-colors, "gray");
        }
      }
    }
    .nav-link {
      @extend %h4;
      padding: 10px 20px;
      border-radius: 100px;
    }
    .loginLink {
      margin: 0 20px;
      @extend %button-2;
      @media all and (max-width: 45em) {
        position: absolute;
        bottom: -55px;
        left: 20px;
        margin: 0;
      }
    }
    .registrationLink {
      @extend %button-1;
      border: solid 1px map-get($theme-colors, "main-blue");
      @media all and (max-width: 45em) {
        position: absolute;
        bottom: -55px;
        right: 20px;
      }
    }
    .buttonMobileMenu {
      height: 24px;
      width: 24px;
      min-width: 24px;
      margin: 0 0 0 20px;
      color: map-get($theme-colors, "main-blue");
      display: none;
      @media all and (max-width: 60em) {
        display: flex;
      }
    }
  }
}

.mobileMenuHeaderContainer {
  .MuiPaper-root {
    padding: 20px;
    .closeButtonBox {
      display: flex;
      justify-content: flex-end;
      margin: 0 0 40px 0;
      button {
        height: 24px;
        width: 24px;
        min-width: 24px;
        color: map-get($theme-colors, "gray");
      }
    }
    .nav-link {
      @extend %h2;
      padding: 10px 20px;
      border-radius: 100px;
      text-decoration: none;
      color: map-get($theme-colors, "black");
    }
  }
}
