@import "../../variables";

.inviteFriendContainer {
  padding: 30px 0 100px 0 !important;
  @media all and (max-width: 78em) {
    padding: 30px 20px 100px 20px !important;
  }
  .locationInvitationPage {
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    @extend %text-small;
    a,
    .arrowIcon {
      color: map-get($theme-colors, "gray");
      margin: 0;
      text-decoration: none;
    }
    p {
      margin: 0;
    }
  }
  .titlePage {
    margin: 0 0 30px 0;
    @extend %h1;
  }
  .contentInvitation {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media all and (max-width: 55em) {
      flex-direction: column;
    }
    img {
      margin-right: 40px;
      @media all and (max-width: 55em) {
        margin: 0 0 20px 0;
      }
      @media all and (max-width: 40em) {
        max-width: 209px;
        height: 220px;
      }
    }
    .mainContentBox {
      width: 100%;
    }
    .titleContent {
      @extend %h2;
      color: map-get($theme-colors, "main-blue");
      margin: 0 0 15px 0;
    }
    .appLinkBox {
      display: flex;
      flex-direction: row;
      margin: 0 0 20px 0;
      @media all and (max-width: 60em) {
        flex-direction: column;
      }
      @media all and (max-width: 55em) {
        flex-direction: row;
      }
      @media all and (max-width: 45em) {
        flex-direction: column;
      }
      .linkField {
        max-width: 480px;
        width: 100%;
        padding: 0 10px;
        border: solid 1px map-get($theme-colors, "black");
        border-radius: 5px;
        margin: 0 20px 0 0;
        height: 40px;
        @media all and (max-width: 40em) {
          padding: 0;
        }
      }
      button {
        @extend %text-main;
        @extend %button-1;
        border-radius: 100px;
        padding: 10px 20px;
        text-transform: none;
        @media all and (max-width: 60em) {
          max-width: 500px;
          width: 100%;
          margin: 10px 0 0 0;
        }
        @media all and (max-width: 55em) {
          max-width: 220px;
          margin: 0;
        }
        @media all and (max-width: 45em) {
          max-width: 500px;
          width: 100%;
          margin: 10px 0 0 0;
        }
      }
    }
    .shareBox {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      @media all and (max-width: 40em) {
        flex-direction: column;
      }
      p {
        margin: 0 10px 0 0;
        @extend %h3;
        @media all and (max-width: 40em) {
          margin: 0 0 10px 0;
        }
      }
      .shareButton {
        padding: 0;
        text-transform: none;
        background-color: map-get($theme-colors, "main-blue");
        width: 32px;
        height: 32px;
        min-width: 32px;
        border-radius: 100%;
        @extend %text-main;
        font-size: 25px;
        @extend %button-1;
        margin: 0 10px 0 0;
        svg {
          font-size: 20px;
        }
      }
    }
  }
}
