@import "../../variables";

.searchPageContainer {
  padding: 60px 0 150px 0 !important;
  position: relative;
  min-height: 800px;
  @media all and (max-width: 78em) {
    padding: 0 20px 150px 20px !important;
    margin: 60px 0 0 0;
  }
  .locationSearchPageBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 30px 0;
    @extend %text-small;
    .mainLink,
    .arrowIcon {
      color: map-get($theme-colors, "gray");
      margin: 0;
      text-decoration: none;
    }
    .findTeacher {
      margin: 0;
    }
  }
  .findTeacherTitle {
    margin: 0;
    @extend %h1;
  }
  .sortBox {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 10px 0;
    @media all and (max-width: 63em) {
      justify-content: space-between;
      align-items: center;
      margin: 15px 0 10px 0;
    }
    .filterButton {
      color: map-get($theme-colors, "black");
      box-shadow: map-deep-get($theme-colors, "box-shadow", "shadow");
      width: 44px;
      height: 44px;
      min-width: 44px;
      border-radius: 100%;
      display: none;
      @media all and (max-width: 63em) {
        display: flex;
      }
    }
    .sortField {
      width: 100%;
      max-width: 280px;
      height: 40px;
      background-color: map-get($theme-colors, "white");
      border-radius: 5px;
      .MuiFormLabel-root {
        margin-top: -7px;
        @extend %text-main;
        color: map-get($theme-colors, "black");
      }
      .MuiFormLabel-root.MuiFormLabel-filled.Mui-focused,
      .MuiFormLabel-root.Mui-focused {
        display: none;
      }
      .MuiInputBase-root.MuiInputBase-formControl {
        height: 40px;
        border-radius: 5px;
        @extend %text-main;
        input {
          height: 40px;
          padding: 0 15px;
          color: map-get($theme-colors, "black");
        }
        fieldset {
          border: solid 1px map-get($theme-colors, "gray");
          legend {
            display: none;
          }
        }
      }
      .MuiInputBase-root.MuiInputBase-formControl.Mui-focused {
        border: none;
        fieldset {
          border: solid 2px map-get($theme-colors, "main-blue");
        }
      }
    }
  }
  .filterContentBox {
    display: flex;
    flex-direction: row;
    .filterBox {
      @media all and (max-width: 63em) {
        display: none;
      }
    }
    .emptySearchBox {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      @media all and (max-width: 45em) {
        flex-direction: column;
        align-items: center;
      }
      .textEmptySearch {
        max-width: 380px;
        width: 100%;
        margin: 60px 0 0 0;
        @media all and (max-width: 45em) {
          max-width: 100%;
          margin: 0 0 20px 0;
        }
        .emptyText {
          @extend %h2;
          margin: 0 0 15px 0;
        }
        .changeRequest {
          margin: 0;
          @extend %text-main;
          color: map-deep-get($theme-colors, "text", "dark-gray");
        }
      }
      img {
        width: 380px;
        height: 300px;
      }
    }
    .contentBox {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      min-height: 600px;
      width: calc(100% - 300px);
      @media all and (max-width: 63em) {
        width: 100%;
      }
      .paginationBox {
        margin-top: 60px;
      }
    }
  }
}
