@import "../../variables";

.wrapperFooterBox {
  background-color: map-get($theme-colors, "main-blue");
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 15px 30px 15px;
  display: flex;
  flex-direction: column;
  .firstRowFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
    .titleColumn {
      margin: 0 0 15px 0;
      color: map-get($theme-colors, "white");
      @extend %h2;
    }
    .columnFooter {
      display: flex;
      flex-direction: column;
      .contactInformation {
        margin: 0;
        @extend %text-main;
        color: map-get($theme-colors, "white");
      }
      .nav-link {
        @extend %text-main;
        color: map-get($theme-colors, "white");
        text-decoration: none;
        margin-bottom: 10px;
      }
      .tutorsLinksBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .columnTutorsBox {
          display: flex;
          flex-direction: column;
        }
        .firstColumnTutorBox {
          margin-right: 30px;
        }
        .buttonMoreBox {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          button {
            min-width: 28px;
            width: 28px;
            height: 15px;
            padding: 0;
            color: map-get($theme-colors, "white");
            text-transform: none;
            @extend %text-small;
          }
        }
      }
    }
  }
  .secondRowFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .emptyBox {
      width: 100px;
    }
    .nav-link {
      color: map-get($theme-colors, "white");
      text-decoration: none;
      @extend %text-small;
    }
    .copyInformation {
      margin: 0;
      @extend %text-small;
      color: map-get($theme-colors, "white");
      display: flex;
      align-items: center;
      margin-left: 10px;
      svg {
        font-size: 15px;
        margin-right: 5px;
      }
    }
  }
}
