@import "../../variables";

.resetPasswordContainer {
  padding: 35px 0 20px 0 !important;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  min-height: 670px;
  .mainPictureResetBox {
    max-width: 500px;
    width: 100%;
  }
  .contentResetBox {
    width: 100%;
    min-height: 670px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .firstPictReset {
      position: absolute;
      top: 0;
      left: 95px;
      width: 160px;
      height: 180px;
    }
    .secondPictReset {
      position: absolute;
      bottom: 117px;
      left: 40px;
      width: 100px;
      height: 100px;
    }
    .thirdPictReset {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 150px;
      height: 150px;
    }
    .formContainer {
      max-width: 480px;
      width: 100%;
      min-height: 520px;
      z-index: 1;
      background-color: map-get($theme-colors, "white");
      box-shadow: map-deep-get($theme-colors, "box-shadow", "shadow");
    }
  }
}
