@use "sass:map";
@import "./fonts";

$theme-colors: (
  "main-blue": #5e66a7,
  "white-blue": #e7e7ff,
  "light-blue": #e2e2ff,
  "light-blue-1": #f1f2fb,
  "white": #fefeff,
  "black": #161618,
  "gray": #a2a2a2,
  "gray-1": #f4f4f4,
  "gray-2": #f7f7f7,
  "white-gray": #b6b6bb,
  "light-gray": #f5f5f5,
  "red": red,
  "light-red": #ffd9d7,
  "white-yellow": #f8ffa5,
  "orange": #fc8d0c,
  "light-green": #ddffe5,
  "green": #18b53b,
  "shadow": rgba(62, 62, 62, 0.324),
  "gray-shadow": #fefeffb1,
  "light-violet": rgba(231, 231, 255, 0.4),
  "text": (
    "grey": #a1a1a1,
    "light": #b6b6bb,
    "dark": #a2a2a2,
    "dark-gray": #6b6868,
  ),
  "border": (
    "hover": #9098d9,
    "pressed": #2c3475,
    "disable": #e6e6e9,
  ),
  "box-shadow": (
    "header": (
      0px 8px 20px rgba(201, 207, 255, 0.2),
    ),
    "shadow": (
      3px 12px 24px rgba(129, 137, 197, 0.2),
    ),
    "form": (
      0px 12px 24px rgba(129, 137, 197, 0.2),
    ),
    "item": (
      0px 5px 20px rgba(0, 0, 0, 0.1),
    ),
  ),
  "gradient": linear-gradient(111deg, #3642a6 0%, #c3caff 96.4%),
);

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

%button-1 {
  background-color: #5e66a7;
  color: #fefeff;
  border: solid 1px #5e66a7;
  &:hover {
    border: solid 1px #9098d9;
    background-color: #9098d9;
  }
  &:active {
    border: solid 1px #2c3475;
    background-color: #2c3475;
  }
  &:disabled {
    border: solid 1px #e6e6e9;
    background-color: #e6e6e9;
    color: #a2a2a2;
  }
}

%button-2 {
  background-color: #fefeff;
  color: #5e66a7;
  border: solid 2px #5e66a7;
  &:hover {
    border: solid 2px #9098d9;
    color: #9098d9;
  }
  &:active {
    border: solid 2px #2c3475;
    color: #2c3475;
  }
  &:disabled {
    border: solid 2px #e6e6e9;
    color: #a2a2a2;
  }
}

%text-main {
  font-family: "Montserrat", "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

%h1 {
  font-family: "Montserrat", "Rubik", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

%h2 {
  font-family: "Montserrat", "Rubik", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

%h3 {
  font-family: "Montserrat", "Rubik", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

%h4 {
  font-family: "Montserrat", "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

%h5 {
  font-family: "Montserrat", "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

%text-small {
  font-family: "Montserrat", "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
