@import "../../variables";

.unLoggedUser.aboutUsPageContainer {
  @media all and (max-width: 45em) {
    padding: 0 20px 60px 20px !important;
    margin: 65px 0 0 0;
  }
}

.aboutUsPageContainer {
  padding: 30px 0 150px 0 !important;
  @media all and (max-width: 78em) {
    padding: 30px 20px 150px 20px !important;
  }
  .locationAboutUsPage {
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    @extend %text-small;
    a,
    .arrowIcon {
      color: map-get($theme-colors, "gray");
      margin: 0;
      text-decoration: none;
    }
    p {
      margin: 0;
    }
  }
  .titlePage {
    margin: 0 0 30px 0;
    @extend %h1;
  }
  .titleTextBox {
    @extend %h1;
    max-width: 800px;
    margin: 0 auto 20px auto;
    color: map-get($theme-colors, "main-blue");
    text-align: center;
  }
  .textPicturesBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    @media all and (max-width: 50em) {
      flex-direction: column;
      align-items: center;
    }
    .aboutUsItemBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 380px;
      img {
        max-width: 225px;
        height: 200px;
      }
      p {
        margin: 10px 0 0 0;
        @extend %text-main;
        text-align: center;
      }
    }
  }
}
