@import "../../variables";

.forgotPasswordForm {
  padding: 50px;
  .mainTitle {
    margin: 0 0 20px 0;
    @extend %h1;
    text-align: center;
  }
  .title {
    margin: 0 0 20px 0;
    @extend %text-main;
  }
  .emailFieldBox {
    .emailLabel {
      @extend %h3;
      color: map-get($theme-colors, "black");
    }
    .emailLabel.errorLabel {
      color: map-get($theme-colors, "red");
    }
  }
  .submitButton {
    @extend %button-1;
    @extend %text-main;
    padding: 10px 20px;
    border-radius: 100px;
    text-transform: none;
    width: 100%;
    margin: 10px 0 0 0;
  }
}

.modalOverlayBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.modalRecovery {
  padding: 10px;
  background-color: map-get($theme-colors, "white");
  min-height: 520px;
  .closeModalBox {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 10px 0;
    button {
      width: 32px;
      min-width: 32px;
      height: 32px;
      color: map-get($theme-colors, "gray");
    }
  }
  .contentModalBox {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin: 0 0 20px 0;
      @extend %text-main;
      text-align: center;
    }
    .mainTitle {
      @extend %h1;
    }
  }
}
